--
-- PostgreSQL database dump
--

\restrict IUwfg34LAgc7HGUqiXQ6eJiWH3n8KWoB5WNCCgniGXWrqrukDORivwyb8LzBNFh

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    admin_id character varying NOT NULL,
    auth_user_id uuid NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    needs_password_reset boolean NOT NULL,
    phone character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    password_hash character varying
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: attendance_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_log (
    id bigint NOT NULL,
    student_id character varying NOT NULL,
    lecture_id character varying NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    status character varying NOT NULL,
    method character varying NOT NULL
);


ALTER TABLE public.attendance_log OWNER TO postgres;

--
-- Name: attendance_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendance_log_id_seq OWNER TO postgres;

--
-- Name: attendance_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_log_id_seq OWNED BY public.attendance_log.id;


--
-- Name: class_schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_schedule (
    schedule_id character varying NOT NULL,
    class_id character varying NOT NULL,
    day_of_week character varying NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL
);


ALTER TABLE public.class_schedule OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    class_id character varying NOT NULL,
    course_id character varying NOT NULL,
    lecturer_id character varying,
    section_name character varying,
    room character varying,
    semester character varying,
    year integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    course_id character varying NOT NULL,
    title character varying NOT NULL,
    department character varying,
    credit_hours integer,
    semester character varying,
    year integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: emotion_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emotion_log (
    id bigint NOT NULL,
    student_id character varying NOT NULL,
    lecture_id character varying NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    emotion character varying NOT NULL,
    confidence double precision NOT NULL,
    engagement_score double precision NOT NULL
);


ALTER TABLE public.emotion_log OWNER TO postgres;

--
-- Name: emotion_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.emotion_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.emotion_log_id_seq OWNER TO postgres;

--
-- Name: emotion_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.emotion_log_id_seq OWNED BY public.emotion_log.id;


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enrollments (
    id bigint NOT NULL,
    class_id character varying NOT NULL,
    student_id character varying NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.enrollments OWNER TO postgres;

--
-- Name: enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.enrollments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.enrollments_id_seq OWNER TO postgres;

--
-- Name: enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.enrollments_id_seq OWNED BY public.enrollments.id;


--
-- Name: exams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exams (
    exam_id character varying NOT NULL,
    class_id character varying NOT NULL,
    lecture_id character varying,
    title character varying NOT NULL,
    scheduled_start timestamp with time zone,
    end_time timestamp with time zone,
    auto_submit boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.exams OWNER TO postgres;

--
-- Name: focus_strikes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.focus_strikes (
    id bigint NOT NULL,
    student_id character varying NOT NULL,
    lecture_id character varying NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    strike_type character varying NOT NULL
);


ALTER TABLE public.focus_strikes OWNER TO postgres;

--
-- Name: focus_strikes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.focus_strikes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.focus_strikes_id_seq OWNER TO postgres;

--
-- Name: focus_strikes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.focus_strikes_id_seq OWNED BY public.focus_strikes.id;


--
-- Name: incidents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents (
    id bigint NOT NULL,
    student_id character varying,
    exam_id character varying,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    flag_type character varying NOT NULL,
    severity integer NOT NULL,
    evidence_path character varying
);


ALTER TABLE public.incidents OWNER TO postgres;

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.incidents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.incidents_id_seq OWNER TO postgres;

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: lecturers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecturers (
    lecturer_id character varying NOT NULL,
    auth_user_id uuid NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    needs_password_reset boolean NOT NULL,
    department character varying,
    title character varying,
    phone character varying,
    photo_url character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    password_hash character varying
);


ALTER TABLE public.lecturers OWNER TO postgres;

--
-- Name: lectures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lectures (
    lecture_id character varying NOT NULL,
    class_id character varying,
    lecturer_id character varying NOT NULL,
    title character varying,
    session_type character varying DEFAULT 'lecture'::character varying,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    scheduled_start timestamp with time zone,
    slide_url character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    actual_start_time timestamp with time zone,
    actual_end_time timestamp with time zone,
    total_frames_captured integer DEFAULT 0,
    expected_frames_count integer DEFAULT 0,
    scheduled_end timestamp with time zone
);


ALTER TABLE public.lectures OWNER TO postgres;

--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    material_id character varying NOT NULL,
    lecture_id character varying NOT NULL,
    lecturer_id character varying NOT NULL,
    title character varying NOT NULL,
    drive_link character varying,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    student_id character varying,
    lecturer_id character varying NOT NULL,
    lecture_id_fk character varying,
    reason character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    read boolean DEFAULT false
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    student_id character varying NOT NULL,
    auth_user_id uuid NOT NULL,
    name character varying NOT NULL,
    email character varying,
    needs_password_reset boolean NOT NULL,
    department character varying,
    year integer,
    face_encoding bytea,
    photo_url character varying,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL,
    password_hash character varying
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: attendance_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_log ALTER COLUMN id SET DEFAULT nextval('public.attendance_log_id_seq'::regclass);


--
-- Name: emotion_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotion_log ALTER COLUMN id SET DEFAULT nextval('public.emotion_log_id_seq'::regclass);


--
-- Name: enrollments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments ALTER COLUMN id SET DEFAULT nextval('public.enrollments_id_seq'::regclass);


--
-- Name: focus_strikes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.focus_strikes ALTER COLUMN id SET DEFAULT nextval('public.focus_strikes_id_seq'::regclass);


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (admin_id, auth_user_id, name, email, needs_password_reset, phone, created_at, password_hash) FROM stdin;
MmMenna_Allah_Maged_	4cbf6221-5ee0-4647-add7-7d71749c8367	MmMenna Allah Maged Moustafa Kamel mohamed	mmmenna_allah_maged_@aast.edu	t	\N	2026-05-09 18:09:36.43589+00	\N
WmWael_Abbas_Mahfouz	b7741d9c-e401-4c55-9eb6-f0020777d588	WmWael Abbas Mahfouz mohamed	wmwael_abbas_mahfouz@aast.edu	t	\N	2026-05-09 18:09:36.43589+00	\N
admin	30633060-a3fe-4071-a2f5-5f3ac03daa2f	System Administrator	admin@aast.edu	f	\N	2026-05-09 20:30:32.229725+00	\N
\.


--
-- Data for Name: attendance_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance_log (id, student_id, lecture_id, "timestamp", status, method) FROM stdin;
1	231004345	10227_1_20260510_0015	2026-05-09 21:15:06.883392+00	PRESENT	FACE
2	231004345	10227_1_20260510_0015	2026-05-09 21:15:40.17952+00	PRESENT	FACE
3	231004345	10227_1_20260510_0017	2026-05-09 21:17:56.287652+00	PRESENT	FACE
4	231004095	10227_1_20260510_0017	2026-05-09 21:17:57.906141+00	PRESENT	FACE
5	231004345	10227_1_20260510_0018	2026-05-09 21:18:54.20744+00	PRESENT	FACE
\.


--
-- Data for Name: class_schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.class_schedule (schedule_id, class_id, day_of_week, start_time, end_time) FROM stdin;
4cec74e3	10227_1	Tuesday	14:00:00	17:00:00
4aa8f87e	10230_1	Thursday	12:00:00	16:00:00
5dfb5374	10230_2	Monday	11:00:00	16:00:00
28e1532f	10232_1	Wednesday	14:00:00	17:00:00
bcc9b003	10270_1	Thursday	08:00:00	15:00:00
f8f21be2	2029_1	Monday	12:00:00	15:00:00
9f9f9d5f	2029_2	Wednesday	08:00:00	17:00:00
972b6230	10227_2	Sunday	13:00:00	16:00:00
7ffd9233	10232_2	Sunday	09:00:00	17:00:00
f5c125b2	10270_2	Thursday	10:00:00	17:00:00
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: emotion_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.emotion_log (id, student_id, lecture_id, "timestamp", emotion, confidence, engagement_score) FROM stdin;
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exams (exam_id, class_id, lecture_id, title, scheduled_start, end_time, auto_submit, created_at) FROM stdin;
\.


--
-- Data for Name: focus_strikes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.focus_strikes (id, student_id, lecture_id, "timestamp", strike_type) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents (id, student_id, exam_id, "timestamp", flag_type, severity, evidence_path) FROM stdin;
\.


--
-- Data for Name: lecturers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lectures; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, student_id, lecturer_id, lecture_id_fk, reason, created_at, read) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attendance_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_log_id_seq', 5, true);


--
-- Name: emotion_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.emotion_log_id_seq', 1, false);


--
-- Name: enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.enrollments_id_seq', 634, true);


--
-- Name: focus_strikes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.focus_strikes_id_seq', 1, false);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incidents_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: admins admins_auth_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_auth_user_id_key UNIQUE (auth_user_id);


--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (admin_id);


--
-- Name: attendance_log attendance_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_log
    ADD CONSTRAINT attendance_log_pkey PRIMARY KEY (id);


--
-- Name: class_schedule class_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_schedule
    ADD CONSTRAINT class_schedule_pkey PRIMARY KEY (schedule_id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (class_id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (course_id);


--
-- Name: emotion_log emotion_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotion_log
    ADD CONSTRAINT emotion_log_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (exam_id);


--
-- Name: focus_strikes focus_strikes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.focus_strikes
    ADD CONSTRAINT focus_strikes_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: lecturers lecturers_auth_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_auth_user_id_key UNIQUE (auth_user_id);


--
-- Name: lecturers lecturers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_email_key UNIQUE (email);


--
-- Name: lecturers lecturers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecturers
    ADD CONSTRAINT lecturers_pkey PRIMARY KEY (lecturer_id);


--
-- Name: lectures lectures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures
    ADD CONSTRAINT lectures_pkey PRIMARY KEY (lecture_id);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (material_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: students students_auth_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_auth_user_id_key UNIQUE (auth_user_id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (student_id);


--
-- Name: attendance_log attendance_log_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_log
    ADD CONSTRAINT attendance_log_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lectures(lecture_id);


--
-- Name: attendance_log attendance_log_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_log
    ADD CONSTRAINT attendance_log_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: class_schedule class_schedule_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_schedule
    ADD CONSTRAINT class_schedule_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: classes classes_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: classes classes_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public.lecturers(lecturer_id) ON DELETE SET NULL;


--
-- Name: emotion_log emotion_log_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotion_log
    ADD CONSTRAINT emotion_log_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lectures(lecture_id);


--
-- Name: emotion_log emotion_log_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emotion_log
    ADD CONSTRAINT emotion_log_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: enrollments enrollments_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: exams exams_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id);


--
-- Name: exams exams_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lectures(lecture_id);


--
-- Name: focus_strikes focus_strikes_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.focus_strikes
    ADD CONSTRAINT focus_strikes_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lectures(lecture_id);


--
-- Name: focus_strikes focus_strikes_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.focus_strikes
    ADD CONSTRAINT focus_strikes_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: incidents incidents_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: lectures lectures_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures
    ADD CONSTRAINT lectures_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id);


--
-- Name: lectures lectures_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures
    ADD CONSTRAINT lectures_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public.lecturers(lecturer_id);


--
-- Name: materials materials_lecture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_lecture_id_fkey FOREIGN KEY (lecture_id) REFERENCES public.lectures(lecture_id);


--
-- Name: materials materials_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public.lecturers(lecturer_id);


--
-- Name: notifications notifications_lecture_id_fk_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_lecture_id_fk_fkey FOREIGN KEY (lecture_id_fk) REFERENCES public.lectures(lecture_id);


--
-- Name: notifications notifications_lecturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_lecturer_id_fkey FOREIGN KEY (lecturer_id) REFERENCES public.lecturers(lecturer_id);


--
-- Name: notifications notifications_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- PostgreSQL database dump complete
--

\unrestrict IUwfg34LAgc7HGUqiXQ6eJiWH3n8KWoB5WNCCgniGXWrqrukDORivwyb8LzBNFh

