fastapi
uvicorn[standard]
deepface
opencv-python-headless
face-recognition
mediapipe
ultralytics
google-generativeai
google-cloud-speech
google-cloud-translate
openai-whisper
pdfplumber
google-api-python-client
apscheduler
python-multipart
pandas
python-jose[cryptography]
python-dotenv
